.button {
  padding: 10px;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 6px;
  outline: none;

  transition: box-shadow .2s, border-color .2s;

  &[data-search="movie"],
  &[data-search="tv"] {
    display: block;
  }

  &[data-search="movie"] {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[data-search="tv"] {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[data-button="load"] {
    margin-top: auto;
  }

  &:hover {
    border-color: transparent;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  }
}
