.button {
  padding: 10px;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid $light-transparent;
  border-radius: $small-radius;
  outline: none;

  transition: box-shadow .2s, border-color .2s, background-color .2s, color .2s;

  &[data-button="theme"] {
    width: 41px;
    height: 41px;
    padding: 5px;

    svg,
    svg * {
      transition: fill .2s;
    }

    svg {
      width: 100%;
      height: 100%;

      fill: $primary-bright;
    }

    path:last-child {
      fill: $light-transparent;
    }
  }

  &[data-search="movie"],
  &[data-search="tv"] {
    display: block;
  }

  &[data-search="movie"] {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[data-search="tv"] {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[data-button="load"] {
    margin-top: auto;
  }

  &:hover,
  &:focus {
    border-color: transparent;
    box-shadow: $inner-shadow;
  }
}
