:root {
  --scroll-width: 10px;
}

@import "./fonts";

@import "../components/visually-hidden/visually-hidden";
@import "../components/container/container";
@import "../components/preloader/preloader";

@import "../components/page/page";
@import "../components/header/header";
@import "../components/main/main";
@import "../components/button/button";
@import "../components/movie/movie";
@import "../components/footer/footer";

@import "../components/movie-modal/movie-modal";

// ### JS ###
.active-btn {
  border-color: transparent;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}

.hide {
  pointer-events: none;
  opacity: 0;
}
