:root {
  --scroll-width: 10px;
}

@import "./fonts";

@import "../components/visually-hidden/visually-hidden";
@import "../components/container/container";

@import "../components/page/page";
@import "../components/header/header";
@import "../components/main/main";
@import "../components/movie/movie";
@import "../components/footer/footer";

// ### JS ###
.active-btn {
  border-color: transparent;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}
