.main {
  &__inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px 0;
    row-gap: 20px;
  }

  &__top,
  &__movies {
    justify-content: center;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  &__center {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, 276px);
    gap: 20px;
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__scroll-button {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    display: block;
    width: 41px;
    height: 41px;

    & svg {
      width: 100%;
      height: 100%;
    }

    & path {

      fill: $primary-dark;
    }
  }

  &__error-wrapper {
    grid-column: span 5;
    justify-self: center;
    padding: 10px;

    border-radius: $big-radius;
    box-shadow: $outer-shadow;
  }

  &__error-image {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;

    border-radius: $middle-radius;
  }

  &__error-text {
    margin: 0;

    text-align: center;
  }
}
