.main {
  &__inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px 0;
    row-gap: 20px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, 272px);
    justify-content: center;
    gap: 20px;
  }

  &__button {
    padding: 10px;

    font-family: inherit;
    font-size: inherit;
    color: inherit;

    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 6px;
    outline: none;

    transition: box-shadow .2s, border-color .2s;

    &[data-button="load"] {
      margin-top: auto;
    }

    &:hover {
      border-color: transparent;
      box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    }
  }
}
