.movie-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-start;

  background-color: $middle-transparent;
  transition: opacity .2s;

  &__inner,
  &__title {
    box-sizing: border-box;
    background-color: $primary-light;
  }

  &__inner,
  &__description-wrapper {
    padding: 10px;
  }

  &__inner {
    position: relative;
    width: calc(100% - 20px);
    min-width: 276px;
    max-width: 868px;
    max-height: calc(100% - 20px);
    margin: auto;
    overflow-y: auto;

    border-radius: $big-radius;

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $light-transparent;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $primary-light;
    }
  }

  &__title,
  &__description,
  &__genre,
  &__release-date {
    margin: 0;
  }

  &__title,
  &__genre,
  &__youtube,
  &__actor {
    border-radius: $small-radius;
  }

  &__title,
  &__genre,
  &__youtube {
    padding: 5px 10px;
  }

  &__title,
  &__description-wrapper {
    box-shadow: $inner-shadow;
  }

  &__title {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    max-width: calc(100% - 40px);

    font-size: inherit;
    font-weight: 400;
  }

  &__poster-wrapper,
  &__description,
  &__genres-wrapper {
    margin-bottom: 10px;
  }

  &__poster-wrapper,
  &__poster,
  &__actor {
    background-repeat: no-repeat;
    background-position: center;
  }

  &__poster-wrapper {
    background-image: url("../assets/svg/no-image.svg");
    background-size: 30% auto;
  }

  &__poster,
  &__actor {
    background-color: $light-transparent;
    background-size: cover;
    background-blend-mode: multiply;
  }

  &__poster,
  &__description-wrapper {
    border-radius: $middle-radius;
  }

  &__poster {
    padding-bottom: 56.22%;
  }

  &__genres-wrapper,
  &__cast {
    gap: 5px;
  }

  &__genres-wrapper,
  &__bottom,
  &__cast {
    display: flex;
    flex-wrap: wrap;
  }

  &__genre,
  &__youtube {
    font-size: 14px;
    border: 1px solid $light-transparent;
  }

  &__bottom {
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding-top: 10px;

    border-top: 1px solid transparent;
    border-image: $border-image;
    border-image-slice: 1;
  }

  &__release {
    flex-grow: 1;
  }

  &__release-date {
    margin-bottom: 5px;
  }

  &__youtube {
    display: inline-block;

    color: inherit;
    text-decoration: none;

    transition: background-color .2s, color .2s, border-color .2s;

    &:hover {
      color: #fff;

      background-color: #e54b3f;
      border-color: transparent;
    }
  }

  &__actor {
    width: 48px;
    height: 48px;
  }
}
