.preloader {
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  z-index: 100;

  background-color: $primary-light;
}

.preloader__inner {
  position: sticky;
  top: calc(50% - 64px);
  left: 50%;
  width: 128px;
  height: 128px;

  transform: translateX(-50%);
}

.preloader__square {
  position: relative;
}

.preloader__square:nth-child(1) {
  margin-left: 0;
}

.preloader__square:nth-child(2) {
  margin-left: 44px;
}

.preloader__square:nth-child(3) {
  margin-left: 88px;
}

.preloader__square:nth-child(4) {
  margin-left: 132px;
}

.preloader__square span {
  position: absolute;
  top: 0;
  left: 20px;
  width: 36px;
  height: 36px;

  border: 1px solid $light-transparent;
  border-radius: $small-radius;
}

.preloader__square:nth-child(1) span {
  animation: animsquare1 2s infinite ease-in;
}

.preloader__square:nth-child(2) span {
  animation: animsquare2 2s infinite ease-in;
}

.preloader__square:nth-child(3) span {
  animation: animsquare3 2s infinite ease-in;
}

.preloader__square:nth-child(4) span {
  animation: animsquare4 2s infinite ease-in;
}

.preloader__square span:nth-child(1) {
  top: 0;
  animation-delay: 0s;
}

.preloader__square span:nth-child(2) {
  top: 44px;
  animation-delay: .15s;
}

.preloader__square span:nth-child(3) {
  top: 88px;
  animation-delay: .3s;
}

// ### ANIMATION ###
@keyframes animsquare1 {
  0%,
  5%,
  95%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  30%,
  70% {
    transform: translate(-40px, 0) rotate(-90deg);
  }
}

@keyframes animsquare1 {
  0%,
  5%,
  95%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  30%,
  70% {
    transform: translate(-40px, 0) rotate(-90deg);
  }
}

@keyframes animsquare2 {
  0%,
  10%,
  90%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  35%,
  65% {
    transform: translate(-40px, 0) rotate(-90deg);
  }
}

@keyframes animsquare2 {
  0%,
  10%,
  90%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  35%,
  65% {
    transform: translate(-40px, 0) rotate(-90deg);
  }
}

@keyframes animsquare3 {
  0%,
  15%,
  85%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  40%,
  60% {
    transform: translate(-40px, 0) rotate(-90deg);
  }
}

@keyframes animsquare3 {
  0%,
  15%,
  85%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  40%,
  60% {
    transform: translate(-40px, 0) rotate(-90deg);
  }
}

@keyframes animsquare4 {
  0%,
  20%,
  80%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  45%,
  55% {
    transform: translate(-40px, 0) rotate(-90deg);
  }
}

@keyframes animsquare4 {
  0%,
  20%,
  80%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  45%,
  55% {
    transform: translate(-40px, 0) rotate(-90deg);
  }
}
