.header {
  border-bottom: 1px solid rgba(0, 0, 0, .25);

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__logo,
  &__input {
    color: inherit;
  }

  &__logo {
    padding-left: 40px;
    font-size: 40px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;

    background-image: url("./../assets/svg/popcorn-smile.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 90%;
  }

  &__input {
    width: 272px;
    height: 40px;
    padding: 0 10px;

    font-family: inherit;
    font-size: inherit;

    background-color: transparent;
    border: 0;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  }
}
