.header {
  border-bottom: 1px solid transparent;
  border-image: $border-image;
  border-image-slice: 1;

  transition: box-shadow .2s, background-color .2s;

  &__inner,
  &__search {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__inner {
    align-items: center;
    padding: 10px 0;
  }

  &__logo,
  &__input {
    color: inherit;
  }

  &__logo {
    padding-left: 40px;
    margin-right: auto;

    font-size: 39px;
    line-height: 1;
    text-decoration: none;

    background-image: url("./../assets/svg/popcorn-smile.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 90%;
  }

  &__logo,
  &__logo-short {
    transition: color .2s;
  }

  &__logo-short {
    color: $light-transparent;
  }

  &__search-buttons {
    display: flex;
  }

  &__input {
    width: 276px;
    padding: 10px;

    font-family: inherit;
    font-size: inherit;

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: $small-radius;
    outline: none;
    box-shadow: $inner-shadow;

    transition: background-color .2s, border-color .2s, color .2s, box-shadow .2s;

    &::placeholder {
      color: $middle-transparent;

      transition: color .2s;
    }
  }
}
