.footer {
  border-top: 1px solid transparent;
  border-image: $border-image;
  border-image-slice: 1;

  transition: box-shadow .2s, background-color .2s;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__link {
    padding: 10px;

    color: inherit;
    text-decoration: none;

    border-radius: $small-radius;
    outline: none;
    transition: box-shadow .2s, background-color .2s;

    &:hover,
    &:focus {
      box-shadow: $inner-shadow;
    }
  }
}
