.page {
  min-width: 320px;
  margin: 0;
  overflow-y: scroll;

  font-family: Electrolize, sans-serif;
  font-size: 16px;
  color: $primary-dark;

  background-color: $primary-light;

  * ::selection,
  &::-webkit-scrollbar-thumb {
    background-color: $light-transparent;
  }

  * ::selection {
    color: $primary-light;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $primary-light;
  }

  &__inner {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }
}
