.movie {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 276px;
  min-height: 404px;
  padding: 10px;
  overflow: hidden;
  gap: 10px;

  cursor: pointer;
  background-image: url("../assets/svg/no-image.svg");
  background-size: 50%;
  border-radius: $middle-radius;
  box-shadow: $outer-shadow;

  transition: box-shadow .2s;

  &:hover {
    box-shadow: none;
  }

  &:hover > &__poster::after {
    opacity: 1;
  }

  &,
  &__poster {
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title,
  &__rate,
  &__poster::after {
    text-align: center;
  }

  &__title,
  &__rate {
    z-index: 1;
    margin: 0;

    background-color: $primary-light;
    border-radius: $small-radius;
    box-shadow: $inner-shadow;
  }

  &__title {
    padding: 5px 10px;

    font-size: inherit;
    font-weight: 400;
  }

  &__poster {
    background-color: $light-transparent;
    background-size: cover;
    background-blend-mode: multiply;

    &,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      font-size: 32px;
      line-height: 404px;
      color: $primary-light;

      content: "More info";
      background-color: $middle-transparent;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__rate {
    align-self: flex-end;
    width: 45px;
    padding: 5px 0;
    margin-top: auto;
  }
}
