.movie {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 276px;
  min-height: 404px;
  gap: 10px;

  cursor: pointer;
  border: 10px solid $primary-light;
  border-radius: $big-radius;
  box-shadow: $outer-shadow;

  transition: box-shadow .2s;

  &,
  &__title {
    position: relative;
    padding: 10px;
  }

  &:hover {
    box-shadow: none;
  }

  &:hover > &__poster-wrapper::after {
    opacity: 1;
  }

  &__title,
  &__rate {
    margin: 0;

    text-align: center;

    background-color: $primary-light;
    border-radius: $small-radius;
    box-shadow: $inner-shadow;
  }

  &__title {
    font-size: inherit;
    font-weight: 400;
  }

  &__poster-wrapper,
  &__poster {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
  }

  &__poster-wrapper,
  &__poster-wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__poster-wrapper {
    z-index: -1;

    background-image: url("../assets/svg/no-image.svg");
    background-size: 50%;

    &::after {
      width: 100%;
      height: 100%;

      font-size: 40px;
      line-height: 404px;
      color: $primary-light;
      text-align: center;

      content: "More info";
      background-color: $middle-transparent;
      border-radius: $middle-radius;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__poster {
    background-color: $light-transparent;
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: $middle-radius;
  }

  &__rate {
    align-self: flex-end;
    width: 45px;
    padding: 5px 0;
    margin-top: auto;
  }
}
